<header class="lobby">
  <nav class="navbar">
    <div class="ui secondary pointing menu">
      <a class="item glogo">
        <h1 class="ui large header size-32">Gavin Belson</h1>
      </a>
      <div class="right menu primaryfont">
        <!-- <a class="item">
          Lobby
        </a>
        <a class="item ">
          About Me
        </a>
        <a class="item ">
          Projects
        </a> -->
        <button class="ui inverted button">
          <i class="icon download"></i>
          Resume
        </button>
      </div>
    </div>
  </nav>
</header>