// @import url('https://fonts.googleapis.com/css?family=Courgette|Poppins&display=swap');

h1,
h2,
h3,
h4,
p,
a,
span {
    font-family: 'Poppins', sans-serif !important;
    color: aliceblue !important;
    letter-spacing: 0.6 !important;
}

.footer {
    background-color: #333945;
    padding: 40px 0;
    color: aliceblue !important;

    h3 {
        font-family: 'Courgette', cursive !important;
        font-size: 28px;
        font-weight: normal;
        letter-spacing: 0.6;
        line-height: 36px;
        min-height: 50px;
    }
    h4{
        margin-bottom: 20px !important;
    }

    i {
        margin-right: 10px;
    }

    p,
    a {
        color: aliceblue;
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 0.6;
        line-height: 24px;
    }

    h4 {
        font-size: 24px;
        font-weight: normal;
        letter-spacing: 0.6;
        line-height: 32px;
    }

    .address {
        max-width: 200px;
    }

    .have-question {
        padding-top: 6px !important;
        padding-bottom: 6px !important;
    }
}