<footer class="footer">
    <div class="ui stackable grid container">
        <div class="row">
            <div class="five wide column" style="max-width: 300px;">
                <a href="#">
                    <h3 class="ui medium header">Gavin Belson</h3>
                </a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quis, nisi esse, vel ex iste maxime
                    reiciendis
                    quae.</p>
                <a href="#"><i class="circular large green whatsapp icon"></i></a>
                <a href="#"><i class="circular large instagram icon"></i></a>
                <a href="#"><i class="circular large blue linkedin sign icon"></i></a>
            </div>

            <div class="one wide column"></div>
            <div class="ten wide column">
                <h4 class="ui medium header">Have a Question ?</h4>
                <div class="ui two column grid">
                    <div class="row">
                        <div class="one wide column">
                            <i class="blue map marker icon"></i>
                        </div>
                        <div class="ten wide column" style="max-width: 270px;">
                            <a class="address">#123, 8th cross, Bahatma road IInd stage, Bangalore, 565 020 </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="one wide column">
                            <i class="blue phone icon"></i>
                        </div>
                        <div class="ten wide column">
                            <a class="contact">+91 2470845786</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="one wide column">
                            <i class="blue mail icon"></i>
                        </div>
                        <div class="ten wide column">
                            <a class="email">gavinbelson@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui divider"></div>
    </div>
    <div class="ui center aligned grid container">
        <div class="ui tiny center aligned header">
            <p>Copyright <i class="at icon"></i> 2018 All Rights Reserved &nbsp; | &nbsp; Made With <i
                    class="blue heart icon"></i></p>
        </div>
    </div>
</footer>