<section class="banner-holder">
    <div class="banner-image">
        <img src="assets/images/backg14.jpg" class="desktop" alt="">
        <img src="assets/images/backg14-mob.jpg" class="mobile" alt="">
    </div>

    <div class="profile">
        <div class="ui stackable center aligned grid container">
            <div class="row">
                <div class="seven wide column center aligned">
                    <div class="profile-image">
                        <img src="assets/images/john.jpg" alt="">
                    </div>

                    <div class="center aligned">
                        <div class="profile-content">
                            <!-- <h2 class="size-22">Hello, I AM</h2> -->
                            <h1 class="size-52">Gavin Belson</h1>
                            <p class="size-22">Software Developer</p>
                        </div>
                        <!-- <div class="profile-btns"> -->
                        <!-- <button class="ui blue inverted button">Know More</button> -->
                        <!-- <button class="ui blue inverted button">Know More</button> -->
                        <!-- <i class="ui large blue angle double down icon"></i> -->
                        <!-- </div> -->
                        <div class="social-links">
                            <i class="big linkedin icon"></i>
                            <i class="big github icon"></i>
                            <i class="big at icon"></i>
                            <i class="big instagram icon"></i>
                        </div>
                    </div>
                </div>
                <div class="one wide devider column"></div>
                <div class="eight wide column middle aligned">
                    <div class="about-content">
                        <p>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est neque hic
                            quia
                            qui odit id eius
                            expedita? Repellat cupiditate commodi a dicta recusandae modi, eius maiores tempora
                            assumenda
                            odio quisquam consequuntur odit quod omnis laboriosam, nesciunt dolores at quidem. Nesciunt"
                        </p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<Section class="about-me">
    <div class="skills">
        <div class="ui stackable center aligned grid container">
            <div class="row">
                <div class="my-skills">
                    <h2 class="size-32">Skills</h2>
                    <p class="primaryfont">A little about my Skills</p>
                </div>
            </div>
            <div class="row">
                <div class="twelve wide column">
                    <div class="skills-progress ui cards">
                        <div class="card">
                            <div class="content center aligned">
                                <div class="header">Design</div>
                                <div class="image">
                                    <div class="circlechart" data-percentage="25"></div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="content center aligned">
                                <div class="header">Development</div>
                                <div class="image">
                                    <div class="circlechart" data-percentage="65"></div>
                                </div>
                            </div>

                        </div>
                        <div class="card">
                            <div class="content center aligned">
                                <div class="header">Hosting</div>
                                <div class="image">
                                    <div class="circlechart" data-percentage="85"></div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="content center aligned">
                                <div class="header">Quality</div>
                                <div class="image">
                                    <div class="circlechart" data-percentage="54"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="progress-bars">
                        <label>Design</label>
                        <div class="ui indicating progress" id="progress-one">
                            <div class="bar">
                                <div class="progress"></div>
                            </div>
                        </div>
                        <label>Development</label>
                        <div class="ui indicating progress" id="progress-two">
                            <div class="bar">
                                <div class="progress"></div>
                            </div>
                        </div>
                        <label>Hosting</label>
                        <div class="ui indicating progress" id="progress-three">
                            <div class="bar">
                                <div class="progress"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Section>

<section class="experience">
    <div class="ui stackable grid container">
        <div class="row">
            <div class="eight wide column">
                <!-- <div class="experience-head">
                    <h2 class="size-26">Experience</h2>
                    <p class="primaryfont">A little about my Experience details</p>
                </div> -->
                <div class="experience-meta">
                    <div class="ui stackable grid container">
                        <div class="row indicator">
                            <div class="eleven wide column">
                                <h3>Lorem ipsum dolor sit</h3>
                                <p class="meta-content">Quod aliquid facilis ullam exercitationem quisquam, animi
                                    similique alias delectus ab
                                    iure ea magni rerum odit quasi sint atque. Beatae consectetur ducimus fugit
                                    aspernatur
                                </p>
                            </div>
                            <div class="four wide column primaryfont date">
                                <p>Jan 2013 <br> to Dec 2016</p>
                            </div>
                        </div>
                        <div class="row indicator">
                            <div class="eleven wide column">
                                <h3>Lorem ipsum dolor</h3>
                                <p class="meta-content">Quod aliquid facilis ullam exercitationem quisquam, animi
                                    similique alias delectus ab
                                    iure ea magni rerum odit quasi sint atque. Beatae consectetur ducimus fugit
                                    aspernatur
                                </p>
                            </div>
                            <div class="four wide column primaryfont date ">
                                <p>Jan 2013 <br> to Dec 2016</p>
                            </div>
                        </div>
                        <div class="row indicator">
                            <div class="eleven wide column">
                                <h3>Lorem ipsum dolor</h3>
                                <p class="meta-content">Quod aliquid facilis ullam exercitationem quisquam, animi
                                    similique alias delectus ab
                                    iure ea magni rerum odit quasi sint atque. Beatae consectetur ducimus fugit
                                    aspernatur
                                </p>
                            </div>
                            <div class="four wide column primaryfont date ">
                                <p>Jan 2013 <br> to Dec 2016</p>
                            </div>
                        </div>

                        <div class="row indicator indicator-last">
                            <div class="eleven wide column">
                                <h3>Lorem ipsum dolor</h3>
                                <p class="meta-content">Quod aliquid facilis ullam exercitationem quisquam, animi
                                    similique alias delectus ab
                                    iure ea magni rerum odit quasi sint atque. Beatae consectetur ducimus fugit
                                    aspernatur
                                </p>
                            </div>
                            <div class="four wide column primaryfont date">
                                <p>Jan 2013 <br> to Dec 2016</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="eight wide column middle aligned experience-head">
                <!-- <div class=""> -->
                <h2 class="size-26">Experience</h2>
                <p class="primaryfont">A little about my Experience details</p>
                <!-- </div> -->
            </div>

        </div>
        <div class="row">
            <div class="eight wide column middle aligned center aligned">
                <div class="education-head">
                    <h2 class="size-26">Education</h2>
                    <p class="primaryfont">A little about my Education details</p>
                </div>
            </div>
            <!-- <div class="eight wide column"></div> -->
            <div class="eight wide column">
                <div class="education">
                    <div class="education-meta">
                        <div class="ui stackable grid container">
                            <div class="row indicator">
                                <div class="four wide column primaryfont date">
                                    <p>Jan 2013 <br> to Dec 2016</p>
                                </div>
                                <div class="eleven wide column">
                                    <h3>Lorem ipsum dolor</h3>
                                    <p>Quod aliquid facilis ullam exercitationem quisquam, animi similique alias
                                        delectus ab
                                        iure ea magni rerum odit quasi sint atque. Beatae consectetur ducimus fugit
                                        aspernatur
                                    </p>
                                </div>
                            </div>
                            <div class="row indicator">
                                <div class="four wide column primaryfont date">
                                    <p>Jan 2013 <br> to Dec 2016</p>
                                </div>
                                <div class="eleven wide column">
                                    <h3>Lorem ipsum dolor</h3>
                                    <p>Quod aliquid facilis ullam exercitationem quisquam, animi similique alias
                                        delectus ab
                                        iure ea magni rerum odit quasi sint atque. Beatae consectetur ducimus fugit
                                        aspernatur
                                    </p>
                                </div>
                            </div>
                            <div class="row indicator">
                                <div class="four wide column primaryfont date">
                                    <p>Jan 2013 <br> to Dec 2016</p>
                                </div>
                                <div class="eleven wide column">
                                    <h3>Lorem ipsum dolor</h3>
                                    <p>Quod aliquid facilis ullam exercitationem quisquam, animi similique alias
                                        delectus ab
                                        iure ea magni rerum odit quasi sint atque. Beatae consectetur ducimus fugit
                                        aspernatur
                                    </p>
                                </div>
                            </div>
                            <div class="row indicator indicator-last">
                                <div class="four wide column primaryfont date">
                                    <p>Jan 2013 <br> to Dec 2016</p>
                                </div>
                                <div class="eleven wide column">
                                    <h3>Lorem ipsum dolor</h3>
                                    <p>Quod aliquid facilis ullam exercitationem quisquam, animi similique alias
                                        delectus ab
                                        iure ea magni rerum odit quasi sint atque. Beatae consectetur ducimus fugit
                                        aspernatur
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- <Section class="my-personal">
    <div class="ui stackable grid container">
        <div class="row">
            <div class="five wide center aligned column">
                <div class="personal side-bar">
                    <h2 class="size-32">Personal</h2>
                    <p class="primaryfont">A little about my personal details</p>
                </div>
            </div>
            <div class="nine wide column">
                <div class="personal-content primaryfont">
                    <div class="details">
                        <p>Full Name : </p>
                        <p>Gavin Doe</p>
                    </div>
                    <div class="details">
                        <p>Date of Birth : </p>
                        <p>20 Jan 1997</p>
                    </div>
                    <div class="details">
                        <p>Email id : </p>
                        <p>gavidoe.test@gmail.com</p>
                    </div>
                    <div class="details">
                        <p>Conatct no. : </p>
                        <p>+91 3485737865</p>
                    </div>
                    <div class="details">
                        <p>Address : </p>
                        <p>Banashenkari 2nd Stage Bangalore</p>
                    </div>
                    <div class="details">
                        <p>Zip code : </p>
                        <p> 560-070</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Section> -->

<section class="projects">
    <div class="ui center aligned container">
        <div class="row">
            <div class="projects-head">
                <h2 class="size-32">Projects</h2>
                <p class="primaryfont">A little about my Projects details</p>
            </div>
        </div>
        <div class="owl-carousel owl-theme">
            <div class="ui card">
                <div class="image">
                    <img src="/assets/images/backg2.jpg">
                </div>
                <div class="content card-content">
                    <div class="header">Molly</div>
                    <div class="meta">
                        <span class="date">Coworker</span>
                    </div>
                    <div class="description">
                        Molly is a personal assistant living in Paris.
                    </div>
                </div>
                <div class="left aligned extra content">
                    <span class="right floated">
                        Joined in 2011
                    </span>
                    <span>
                        <i class="user icon"></i>
                        35 Friends
                    </span>
                </div>
            </div>
            <div class="ui card">
                <div class="image">
                    <img src="/assets/images/backg3.jpg">
                </div>
                <div class="content card-content">
                    <div class="header">Molly</div>
                    <div class="meta">
                        <span class="date">Coworker</span>
                    </div>
                    <div class="description">
                        Molly is a personal assistant living in Paris.
                    </div>
                </div>
                <div class="left aligned extra content">
                    <span class="right floated">
                        Joined in 2011
                    </span>
                    <span>
                        <i class="user icon"></i>
                        35 Friends
                    </span>
                </div>
            </div>
            <div class="ui card">
                <div class="image">
                    <img src="/assets/images/backg13.jpg">
                </div>
                <div class="content card-content">
                    <div class="header">Elyse</div>
                    <div class="meta">
                        <a>Coworker</a>
                    </div>
                    <div class="description">
                        Elyse is a copywriter working in New York.
                    </div>
                </div>
                <div class="left aligned extra content">
                    <span class="right floated">
                        Joined in 2014
                    </span>
                    <span>
                        <i class="user icon"></i>
                        151 Friends
                    </span>
                </div>
            </div>

            <div class="ui card">
                <div class="image">
                    <img src="/assets/images/backg8.jpg">
                </div>
                <div class="content card-content">
                    <div class="header">Elyse</div>
                    <div class="meta">
                        <a>Coworker</a>
                    </div>
                    <div class="description">
                        Elyse is a copywriter working in New York.
                    </div>
                </div>
                <div class="left aligned extra content">
                    <span class="right floated">
                        Joined in 2014
                    </span>
                    <span>
                        <i class="user icon"></i>
                        151 Friends
                    </span>
                </div>
            </div>

            <div class="ui card">
                <div class="image">
                    <img src="/assets/images/backg14.jpg">
                </div>
                <div class="content card-content ">
                    <div class="header">Elyse</div>
                    <div class="meta">
                        <a>Coworker</a>
                    </div>
                    <div class="description">
                        Elyse is a copywriter working in New York.
                    </div>
                </div>
                <div class="left aligned extra content">
                    <span class="right floated">
                        Joined in 2014
                    </span>
                    <span>
                        <i class="user icon"></i>
                        151 Friends
                    </span>
                </div>
            </div>

            <div class="ui card">
                <div class="image">
                    <img src="/assets/images/backg10.jpg">
                </div>
                <div class="content card-content">
                    <div class="header">Elyse</div>
                    <div class="meta">
                        <a>Coworker</a>
                    </div>
                    <div class="description">
                        Elyse is a copywriter working in New York.
                    </div>
                </div>
                <div class="left aligned extra content">
                    <span class="right floated">
                        Joined in 2014
                    </span>
                    <span>
                        <i class="user icon"></i>
                        151 Friends
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="availability">
    <div class="ui stackable grid container">
        <div class="row">
            <div class="ui four card">
                <div class="ui card">
                    <div class="content center aligned ">
                        <i class="huge address card circular inverted outline icon"></i>
                        <div class="center aligned header">Address</div>
                        <div class="center aligned description">
                            <p>Jenny is a student studying Media Management at the New School</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->